
@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

<div class="text-left">
    <h2>Computer Name</h2>
    <p>@Model.ComputerName</p>

    <h2>Container Configured</h2>
    <p>@Model.DockerImage</p>

    <h2>TimeStamp - Other Update</h2>
    <p>@DateTime.Now.ToUniversalTime()</p>


    <h3>Environment Vars Available</h3>
    @foreach(string item in Model.EnvVars.Keys) 
    {
        <ul>
            <p>@item = @Model.EnvVars[item]</p>
        </ul>
    }
</div>
